<div class="panel panel-primary" id="panels">
  <div class="panel-heading">
    <h3>Editing Comment</h3>
  </div>

  <%= render 'form' %>
</div>


<%= link_to 'Back', post_path(@comment.post), class: "btn" %>
